.formContainer{
    width: fit-content;
}


@media screen and (max-width: 460px) {
    .btnContainer{
        display: none !important;
    }
    .formContainer{
        width: 80vw;
    }
    .textfield{
        width: 100%;
    }
    .responsiveBtn{
        display: block !important;
    }
    
}